<% @tunes.each do |tune| %>
  <div class="tune">
    <h1><%= tune.song_title %> <small>(by: <%= tune.author %>)</small></h1>
    <h6>Warren you crazzzy</h6>
  </div>
<% end %>
<h2><a href="/tunes/new">Post a tune... It's FREE (for now)!</a></h2>