<form>
  <div>
    <label>Song Title:</label>
    <input type="text" name="song_title">
  </div>
  <div>
    <label>Author:</label>
    <input type="text" name="author">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
<a href="/tunes/new">Post a tune... It's FREE (for now)!</a>